
$whiteColor: #fff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

//NAVIGACJA

.navbar {
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
    a, i {
        color: white;
        transition: color .3s;
        font-size: 15px;
    }
    a:hover {
        color: red;
    }
    .active {
        color: red;
        border-bottom: 2px solid red;
    }
    .fas {
        font-size: 20px;
        padding: 5px;
    }
}

.redm {
    font-size: 20px;
    color: red;
}

// HOME

.header {
    color: $whiteColor;
}

.wrapper {
    max-width: 2560px;
    width: 80%;
    margin: 0 auto;
  }

.img {
    background-image: url(../images/office_1920.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    &__shadow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0, 0.6);
    }
    &__text {
        text-align: center;
    }
    &__h1 {
        text-transform: uppercase;
        font-size: 25px;
        padding: 10px;
    }
    &__h2 {
        color: red;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

.fa-arrow-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: $whiteColor;
    animation: bounce 1.6s infinite;
}

.shadow-bg {
    background-color: rgba(0,0,0, 0.8);
}

// O MNIE


.jumbotron {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    &__h1 {
        margin: 0;
        font-size: 25px;
    }
    &__underline {
        border-bottom: 2px solid black;
        width: 20%;
        margin: 10px auto 20px auto;
    }
    &__text {
        width: 100%;
    }
}

// PORTFOLIO
    
.portfolio {
    background-image: url(../images/laptop_1920.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    padding: 32px 16px;
    &__underline {
        width: 20%;
        border-bottom: 2px solid $whiteColor;
        margin: 10px auto 20px auto;
    }
    &__h1 {
        margin: 0;
        font-size: 25px;
        color: $whiteColor;
    }
}

.card {
box-shadow: 0 0 10px black;
transition: .3s;
    &__body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 300px;
        background-image: linear-gradient(315deg, grey 0%, white 74%);
    }
    &__title {
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
}
    &__text {
        flex-grow: 1;
        padding: 0 20px;
        font-size: 16px;
        margin-bottom: 10px;
}
    &__footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.card-img-top {
    height: 160px;
}
.card:hover {
    transform: scale(.96);
}
.fa-github {
    font-size: 40px;
    margin: 20px;
    color: black;
}
.card button {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 50%;
    border-style: none;
    text-transform: uppercase;
    color: $whiteColor;
    background-color: black;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    color: black;
    background-color: $whiteColor;
}

span.red {
    color: red;
    font-weight: bold;
    font-size: 20px;
}
span.blue {
    color: blue;
    font-weight: bold;
    font-size: 20px;
}
span.yellow {
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}
span.pink{
    color: pink;
    font-weight: bold;
    font-size: 20px;
}
span.lightblue {
    color: lightblue;
    font-weight: bold;
    font-size: 20px;
}

span.black {
    color: black;
    font-weight: bold;
    font-size: 20px;
}


// UMIEJĘTNOŚCI

.skills{
    width: 100%;
    padding: 32px 16px;
    background-color: $whiteColor;
    &__h1 {
        margin: 0;
        font-size: 25px;
        text-align: center;
    }
    &__underline {
        width: 20%;
        margin: 10px auto 20px auto;
        border-bottom: 2px solid black;
    }
}
.icons {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
.skills__icons .fab {
    text-shadow: 0 0 5px black;
    font-size: 50px;
    margin: 10px;
}

@media screen and (min-width: 375px) {
    .icons {
        width: 80%;
    }
}


// KONTAKT


.contact {
    background-image: url(../images/imac_1920.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 36px 14px;
    z-index: 0;
    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.8);
        width: 100%;
        height: 100%;
        z-index: -10;
    }
    &__h1 {
        text-align: center;
        width: 100%;
        color: $whiteColor
    }
}
.welcome {
    width: 100%;
    &__underline {
        width: 20%;
        margin: 10px auto 20px auto;
        border-bottom: 2px solid white;
    }
    &__h1 {
        font-size: 25px;
        color: white;
        text-align: center;
    }
}
.info {
    color: white;
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    &__h2 {
        font-size: 25px;
        color: white;
        text-align: center;
    }
}
.form {
    width: 90%;
    height: 50%;
    color: white;
    margin: 20px auto;
    background-color: rgba(80,80,80, 0.6);
    box-shadow: 0 0 10px white;
    border-radius: 7px;
    &__h2 {
        margin: 20px auto;
        text-align: center;
        font-size: 25px;
        padding: 0 20px;
    }
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

label, input, textarea {
    width: 90%;
    border-radius: 8px;
    border-style: none; 
    color: white;
}
label {
    margin: 10px 0;
}
input,textarea {
    padding: 10px;
    background-color: rgba(0, 0, 0, .6);
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
input,textarea:focus{
    background-color: rgba(0, 0, 0, .6);
}

.error-text {
    width: 90%;
    margin: 5px 0 0 0;
    color: red;
    visibility: hidden;
}


.buttons {
    display: flex;
    justify-content:flex-end;
    width: 90%;
       .clear, .send {
           margin: 20px 0;
       }
       .clear {
           margin-right: 20px;
       }
   }

.form-box.error .error-text {
    visibility: visible;
    width: 90%;
}

.socials {
    flex-grow: 1;
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    &__a{
        font-size: 50px;
        margin: 0 20px;
        color: white;
        text-shadow: 0 0 10px black;
        transition: .3s;
        padding: 10px 15px;
    }
    &__a:hover {
        color: red;
    }
}

@media screen and (min-width: 1024px){
    .img {
        background-attachment: fixed;
    }
    .contact {
        background-attachment: fixed;
    }
    .portfolio {
        background-attachment: fixed;
    }
}